# dependencies
node_modules/

# next.js
.next/
out/

# env files
.env
.env.local
.env.*.local

# debug
npm-debug.log*

# api log
**/api/**/log/

# OS
Thumbs.db
.DS_Store

# IDE
.vscode/
.idea/
.claude/
