# dependencies
node_modules/

# next.js
.next/
out/

# env files
.env
.env.local
.env.production
.env.production.yaml
.env.*.local

# debug
npm-debug.log*

# api log
**/api/**/log/

# Cloud SQL Proxy
cloud-sql-proxy*

# OS
Thumbs.db
.DS_Store

# IDE
.vscode/
.idea/
.claude/
